 /* the modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modal content-box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* the close button */
#close_modal_button {
  float: right;
  margin: -55px -55px 0 0;
}

/* movie details in the modal window  */
#movie_details {
 display: flex;
}

/* ---- end of modal window ----------- */

header {
    color: black;
    background-color: grey;
    display: flex;
    align-items: center;
    height: 100px;
    width: 80%;
    top: 0;
    margin-left: 9%;
    margin-bottom: 5%;
    position:fixed;
}

#logo {
    margin-left: 5%;
}

#index_page {
    margin-left: 40%;
    color: white;
}

#category_page {
    color: white;
    margin-left: 10%;
}

/* End of header and its components */

#best_movie {
    border: 3px black solid;
    width: 80%;
    height: 267px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 120px;

}

#best_top {
    display: flex;
    justify-content: space-around;
}

#best_right {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#best_movie_title {
    font-size: 1.8em;
    margin: auto;
}

#best_movie_button {
    margin: auto;
}

#best_movie_description {
    width: 65%;
    height: 100px;
    margin: auto;
    margin-bottom: 5%;
}


/* End of best movie section and its components */



.movies
{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-top:5%;
    margin-bottom: 10%;

}

h1
{
    color: black;
    text-align: center;
    margin-bottom: 2%;
}

/* left and right arrows for movies categories */

button {
    border: none;
}

.left_arrow {
    visibility: hidden;
}

.right_arrow {
    visibility: hidden;
}

/* end of left and right arrows for movies categories */
